/* Police et style général */
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
  line-height: 1.5;
}

/* Nom centré */
h1 {
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* Poste centré */
h2 {
  text-align: center;
  font-size: 1.6em;
  font-weight: normal;
  color: #0073e6;
  margin-bottom: 40px;
}

 /* Bloc sous mon nom + P + Poste*/
/* Ligne infos juste sous le poste */
.infos-sous-titre {
  text-align: center;
  font-size: 0.9em;
  color: #555;
  margin-top: -15px;
  margin-bottom: 8px;
}

.infos-sous-titre .sep {
  margin: 0 10px;
  color: #999;
  font-weight: bold;
  font-size: 1.1em;
}

/* Mobilité seule, centrée, et un peu mise en avant */
.mobilite {
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: #0073e6;
  margin-bottom: 40px; /* espace avant la suite du CV */
}


/* Titres des sections centrés (optionnel) */
h3 {
  color: #0073e6;
  margin-bottom: 10px;
  /* Enlève le commentaire ci-dessous si tu veux les centrer aussi */
  /* text-align: center; */
}

/* PARTIE LANGUES ######################*/

.langues-parlees {
  text-align: center; /* Centre toute la section */
  margin-bottom: 30px;
}

.langues-parlees h3 {
  color: #0073e6;
  margin-bottom: 10px;
}

.langues-parlees p {
  margin: 5px 0;
  font-size: 1em;
}

/* FIN PARTIE LANGUES ######################*/

